.logo {
	text-align: justify; /* aligner en fonction de la page */
	padding-top:50px;
	display: block;
	margin: 0 auto;
	/*clear: both;*/
}
#h-all{
	text-align: right; /* mettre texte a droite */
	text-decoration: none; /* pas de soulignage */
}

.lien-h{
	text-decoration: none;
}

.form{
	text-decoration: none;
}

.droite{
	float: right;
	text-align: right;
}

.gauche{
	float: left;
	text-align: left;
}

.lien-f{
	text-decoration: none;
}